<h1>クイズセット一覧</h1>

<% flash.each do |type, message| %>
  <div class="flash <%= type %>"><%= message %></div>
<% end %>

<%= link_to '会員登録', new_user_registration_path %>
<%= link_to 'ログイン', new_user_session_path %>
<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :get %>
<% end %>

<div>
  <p>ここにサービスの説明文を追加。</p>
</div>

<% @quiz_sets.each do |quiz_set| %>
  <div>
    <h2><%= link_to quiz_set.title, quiz_set %></h2>
    <p><%= quiz_set.description %></p>
  </div>
<% end %>

<%= link_to 'クイズ一覧', quizzes_path %>

<%= link_to 'マイページ', scores_mypages_path %>

<%= link_to '利用規約', terms_path %>
<%= link_to 'プライバシーポリシー', privacy_path %>
