<h1>クイズセット一覧</h1>

<h1 class="text-3xl font-bold underline text-blue-500">
  Hello world!
</h1>

<% flash.each do |type, message| %>
  <div class="flash <%= type %>"><%= message %></div>
<% end %>

<div>
  <p>ここにサービスの説明文を追加。</p>
</div>

<% @quiz_sets.each do |quiz_set| %>
  <div>
    <h2><%= link_to quiz_set.title, quiz_set %></h2>
    <p><%= quiz_set.description %></p>
  </div>
<% end %>

<h2><%= link_to '苦手克服チャレンジ', start_weak_quizzes_path %></h2>

<%= link_to 'クイズ一覧', quizzes_path %>

<%= link_to 'マイページ', scores_mypages_path %>
