<div class="ontainer mx-auto px-1 sm:px-6 mt-8">
<h2 class="text-2xl font-bold text-gray-800 mb-4">クイズを始めよう</h2>

  <div class="service-background rounded-lg shadow-md relative p-2 sm:p-10">
    <div class="bg-white bg-opacity-90 rounded-lg shadow-md p-4 sm:p-6 w-full sm:max-w-xl mx-auto">
      <p class="text-2xl text-gray-700 mb-2">クイズの内容</p>
      <h2 class="text-5xl font-bold text-gray-800 mb-8"><%= @quiz_set.title %></h2>
      <p class="text-2xl text-gray-700 mb-8">症状: <%= @quiz_set.description %></p>
      <p class="text-2xl text-gray-700 mb-4">答えたクイズ数: <%= @quiz_set.answered_quizzes_count(current_user) %> / <%= @quiz_set.total_quizzes_count %></p>
      <p class="text-2xl text-gray-700 mb-8">出題数: 10問</p>

      <%= button_to 'クイズを始める', start_quiz_quiz_set_path(@quiz_set), method: :post, class: "w-full bg-blue-500 hover:bg-blue-700 text-white text-lg font-bold py-2 px-4 rounded transition duration-300 ease-in-out" %>

      <%= link_to 'トップへ戻る', root_path, class: "block text-center text-lg mt-4 text-blue-600 hover:underline" %>
    </div>
  </div>
</div>