<div class="container mx-auto p-6">
  <div class="bg-white rounded-lg shadow-md p-6 max-w-md mx-auto">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">スコア</h2>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>"><%= message %></div>
    <% end %>

    <p class="text-lg text-gray-700 mb-4">あなたの正解数: <%= @score %> / <%= @total_quizzes %></p>
    <%= link_to '苦手克服トップに戻る', start_weak_quizzes_path, class: "block text-center text-blue-600 hover:underline" %>
  </div>
</div>