<h2>苦手克服チャレンジ（◯と◯と◯に2回以上挑戦したあなたへ）</h2>

<p>タイトル: 苦手克服クイズ</p>
<p>説明: 苦手な問題の克服に特化しています。各クイズにたくさん挑戦した後に取り組んでください。</p>
<p>こちらのクイズは、◯◯◯◯◯◯◯した方向けの挑戦です。</p>
<p>ちなみに、苦手なクイズが10問以下の場合でも、ランダムでクイズが追加され必ず10問出題されます。</p>

<h3>苦手克服度: <%= @mastery_level %>%</h3>
<p>苦手克服度は、あなたが克服した苦手なクイズの割合を基に計算されます。</p>

<p>苦手と判定されたクイズの数: <%= @weak_quizzes_count %>問</p>
<p>　苦手と判定されたクイズとは、正答率が80%以下のクイズです。</p>
<p>苦手を克服したクイズの数: <%= @mastered_quizzes_count %>問</p>
<p>　苦手を克服したクイズとは、正答率は80%以下ですが最近2問以上連続で正解したクイズです。</p>
<p>定着したクイズの数: <%= @non_weak_quizzes_count %>問</p>
<p>　定着しているクイズ（正答率が80%より上）の数は苦手克服度の計算に含まれません。</p>

<p>出題数: 10問</p>
<%= button_to 'クイズを始める', start_quiz_weak_quizzes_path, method: :post %>

<%= link_to 'トップへ戻る', root_path %>