<div class="container mx-auto p-6">
  <div class="bg-white rounded-lg shadow-md p-6 max-w-lg mx-auto">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">苦手克服チャレンジ◯と◯と◯に2回以上挑戦したあなたへ）</h2>
    <p class="text-lg text-gray-700 mb-2">苦手克服クイズ</p>
    <p class="text-lg text-gray-700 mb-2">説明: 苦手な問題の克服に特化しています。各クイズにたくさん挑戦した後に取り組んでください。</p>
    <p class="text-lg text-gray-700 mb-2">こちらのクイズは、◯◯◯◯◯◯◯した方向けの挑戦です。</p>
    <p class="text-lg text-gray-700 mb-2">ちなみに、苦手なクイズが10問以下の場合でも、ランダムでクイズが追加され必ず10問出題されます。</p>

    <h3 class="text-xl font-bold text-gray-800 mb-2">苦手克服度: <%= @mastery_level %>%</h3>
    <p class="text-lg text-gray-700 mb-2">苦手克服度は、あなたが克服した苦手なクイズの割合を基に計算されます。</p>

    <p class="text-lg text-gray-700 mb-2">苦手と判定されたクイズの数: <%= @weak_quizzes_count %>問</p>
    <p class="text-lg text-gray-700 mb-2">苦手と判定されたクイズとは、正答率が80%以下のクイズです。</p>
    <p class="text-lg text-gray-700 mb-2">苦手を克服したクイズの数: <%= @mastered_quizzes_count %>問</p>
    <p class="text-lg text-gray-700 mb-2">苦手を克服したクイズとは、正答率は80%以下ですが最近2問以上連続で正解したクイズです。</p>
    <p class="text-lg text-gray-700 mb-2">定着したクイズの数: <%= @non_weak_quizzes_count %>問</p>
    <p class="text-lg text-gray-700 mb-2">定着しているクイズ（正答率が80%より上）の数は苦手克服度の計算に含まれません。</p>

    <p>出題数: 10問</p>
    <div class="mt-4">
      <%= button_to 'クイズを始める', start_quiz_weak_quizzes_path, method: :post, class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out" %>
    </div>
    <div class="mt-4">
      <%= link_to 'トップへ戻る', root_path, class: "block text-center text-blue-600 hover:underline" %>
    </div>
  </div>
</div>