<header class="<%= header_class.present? ? header_class : 'bg-blue-600' %> relative text-white py-2 md:py-4 md:px-8">
  <div class="container mx-auto flex justify-between sm:justify-center items-center relative px-0">

  	
  <%#= #ダミー要素（スマホ画面でのみ表示） %>
  <div class="md:hidden text-white p-2">
    <svg class="h-6 w-6 opacity-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
    </svg>
  </div>

  <div class="text-xl sm:text-4xl font-bold text-center sm:text-left flex-grow">
    <%= link_to 'クイズ！市販薬の成分', root_path, class: "clickable-text" %>
  </div>

    <button class="md:hidden text-white p-2" id="hamburger-button">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <div class="hidden md:flex items-center space-x-4">
      <% if user_signed_in? %>
        <%= link_to 'ジャンル一覧', '#', method: :get, class: "text-white text-sm md:text-base ml-4 md: ml-6 hover:text-blue-300", id: "mega-menu-button-pc" %>
        <%= link_to 'クイズ検索', quizzes_path, class: "text-sm md:text-base ml-4 md: ml-6 hover:text-blue-300" %>
        <%= link_to 'スコアページ', scores_mypages_path, class: "text-sm md:text-base ml-4 md: ml-6 hover:text-blue-300" %>
        <%= link_to 'ユーザー情報編集', profile_mypages_path, class: "text-sm md:text-base ml-4 md: ml-6 hover:text-blue-300" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :get, class: "text-sm md:text-base ml-4 md: ml-6 hover:text-blue-300" %>
      <% else %>
        <%= link_to '会員登録', new_user_registration_path, class: "text-sm md:text-base ml-4 md: ml-6 hover:text-blue-300" %>
        <%= link_to 'ログイン', new_user_session_path, class: "text-sm md:text-base ml-4 md: ml-6 hover:text-blue-300" %>
      <% end %>
    </div>

  </div>
  <div id="header-container" data-user-signed-in="<%= user_signed_in?.to_json %>"></div>
</header>

<script src="/assets/header.js"></script>