<header class="<%= header_class.present? ? header_class : 'bg-blue-600' %> relative text-white px-2 lg:px-8 h-full">
  <div class="flex flex-wrap mx-auto items-center items-stretch">

  	
  <%#= #ダミー要素（スマホ画面でのみ表示） %>
  <div class="md:hidden text-white p-2">
    <svg class="h-6 w-6 opacity-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
    </svg>
  </div>

  <div class="flex-shrink-0 text-xl sm:text-2xl md:text-2xl lg:text-4xl font-bold text-center sm:text-left flex-grow py-2 md:py-4">
    <%= link_to 'クイズ！市販薬の成分', root_path, class: "clickable-text" %>
  </div>

    <button class="md:hidden text-white p-2" id="hamburger-button">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <div class="flex-shrink-0 hidden md:flex items-center">
      <% if user_signed_in? %>

        <%= link_to '#', method: :get, class: "transition duration-300 ease-in-out flex items-center h-full group border-b-8 border-transparent hover:border-current p-2 text-white text-xs md:text-sm lg:text-base font-medium", id: "mega-menu-button-pc" do %>
          <i class="fa-solid fa-layer-group mr-1.5"></i>
          ジャンル一覧
        <% end %>
        <%= link_to quizzes_path, method: :get, class: "transition duration-300 ease-in-out flex items-center h-full group border-b-8 border-transparent hover:border-current p-2 text-white text-xs md:text-sm lg:text-base font-medium ml-3 lg:ml-4" do %>
          <i class="fa-solid fa-magnifying-glass mr-1.5"></i>
          クイズ検索
        <% end %>
        <%= link_to scores_mypages_path, method: :get, class: "transition duration-300 ease-in-out flex items-center h-full group border-b-8 border-transparent hover:border-current p-2 text-white text-xs md:text-sm lg:text-base font-medium ml-3 lg:ml-4" do %>
          <i class="fa-regular fa-rectangle-list mr-1.5"></i>
          スコアページ
        <% end %>
        <%= link_to profile_mypages_path, method: :get, class: "transition duration-300 ease-in-out flex items-center h-full group border-b-8 border-transparent hover:border-current p-2 text-white text-xs md:text-sm lg:text-base font-medium ml-3 lg:ml-4" do %>
          <i class="fa-solid fa-user-pen mr-1.5"></i>
          ユーザー情報編集
        <% end %>
        <%= link_to destroy_user_session_path, method: :get, class: "transition duration-300 ease-in-out flex items-center h-full group border-b-8 border-transparent hover:border-current p-2 text-white text-xs md:text-sm lg:text-base font-medium ml-3 lg:ml-4" do %>
          <i class="fa-solid fa-right-from-bracket mr-1.5"></i>
          ログアウト
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, method: :get, class: "transition duration-300 ease-in-out flex items-center h-full group border-b-8 border-transparent hover:border-current p-2 text-white text-xs md:text-sm lg:text-base font-medium ml-4" do %>
          <i class="fa-regular fa-address-card mr-2"></i>
          会員登録
        <% end %>
        <%= link_to new_user_session_path, method: :get, class: "transition duration-300 ease-in-out flex items-center h-full group border-b-8 border-transparent hover:border-current p-2 text-white text-xs md:text-sm lg:text-base font-medium ml-4 md:ml-6" do %>
          <i class="fa-solid fa-right-to-bracket mr-2"></i>
          ログイン
        <% end %>
      <% end %>
    </div>

  </div>
  <div id="header-container" data-user-signed-in="<%= user_signed_in?.to_json %>"></div>
</header>

<script src="/assets/header.js"></script>