<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GA_TRACKING_ID"] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-LYBGCQCQ68');
    </script>
    <script src="https://kit.fontawesome.com/85e6a48782.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'drugicon.ico' %>
    <%= display_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: 'all' %>
    <%= stylesheet_link_tag 'application.tailwind', "data-turbo-track": "reload", media: 'all' %>

    <link rel="preload" href="<%= asset_path('mainback1.webp') %>" as="image">
    <link rel="preload" href="<%= asset_path('mainback2.webp') %>" as="image">

    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #f9fafb;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      :root {
        --mainback1-path: url('<%= asset_path('mainback1.webp') %>');
        --mainback2-path: url('<%= asset_path('mainback2.webp') %>');
      }
    </style>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@arataqpp">
    <meta name="twitter:title" content="クイズ！市販薬の成分">
    <meta name="twitter:description" content="市販薬の成分を、クイズ形式で楽しく知って学べるサービスです。">
    <meta name="twitter:image" content="<%= image_url('quiz_top.jpg') %>">
  </head>

  <body>
    <%= render 'layouts/header', header_class: @header_class %>

    <main class="flex-grow">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
