<!DOCTYPE html>
<html>
  <head>
    <title>QuizDrugIngredients</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application.tailwind', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* ビューポートの高さに合わせる */
        background-color: #f9fafb; /* 明るいグレーの背景色 */
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* モダンなフォント */
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main class="flex-grow">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
