<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'drugicon.ico' %>
    <%= display_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: 'all' %>
    <%= stylesheet_link_tag 'application.tailwind', "data-turbo-track": "reload", media: 'all' %>

    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #f9fafb;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      :root {
        --mainback1-path: url('<%= asset_path('mainback1.jpg') %>');
        --mainback2-path: url('<%= asset_path('mainback2.jpg') %>');
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main class="flex-grow">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
