<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GA_TRACKING_ID"] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-LYBGCQCQ68');
    </script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'drugicon.ico' %>
    <%= display_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application.tailwind', media: 'all', 'data-turbo-track': 'reload' %>

    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #f9fafb;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      :root {
        --mainback1-path: url('<%= asset_path('mainback1.webp') %>');
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/weak_quizzes_header' %>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= yield :footer %>
  </body>
</html>